<h1>Listing dares</h1>

<%= link_to 'New Dare', new_dare_path %>
<br />
<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th></th>
  </tr>

<% @dares.each do |dare| %>
  <tr>
    <td><%= dare.title %></td>
    <td><%= dare.rating %></td>
    <td><%= link_to 'Edit', edit_dare_path(dare) %></td>
  </tr>
<% end %>
</table>
