<h1>Listing penalties</h1>

<%= link_to 'New Penalty', new_penalty_path %>
<br />
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th></th>
  </tr>

<% @penalties.each do |penalty| %>
  <tr>
    <td><%= penalty.name %></td>
    <td><%= penalty.rating %></td>
    <td><%= link_to 'Edit', edit_penalty_path(penalty) %></td>
  </tr>
<% end %>
</table>
